/* src/index.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #111111;
  font-family: "Inter", sans-serif; /* We'll add this font in the next step */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
